*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px;
  color:white;
  line-height:1.6;
  background-color: #1a1a1a;
}

#showcase{
  background-image: url('C:\\FEE PROJECT\\welcomePage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#showcase h1{
  font-size:50px;
  line-height:1.2;
}

#showcase p{
  font-size:20px;
}

#showcase .button{
  font-size:18px;
  text-decoration:none;
  color:white;
  border:white 1px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#showcase .button:hover{
  background:#926239;
  color:#fff;
}

/* Add styling for the dynamic section */
#dynamic-section {
  margin: 20px;
  text-align: center;
}

#dynamic-section h2 {
  font-size: 24px;
  color: #fff;
}

#dynamic-section p {
  font-size: 18px;
  color: #ccc;
}
